{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
<div class="container">

    <h1>Event</h1>
<div class="card">
            <img src="{{ event.picture }}" class="card-img-top" alt="Image of {{ event.name }}" style="height: 300px; object-fit: cover;">
  <div class="card-body">
    <h5 class="card-title">{{ event.name }}</h5>
    <p class="card-text">{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</p>
     <p class="card-text">{{ event.description }}</p>
    
     <p class="card-text">{{ event.capacity }}</p>
     <p class="card-text">{{ event.email }}</p>
      <p class="card-text">{{ event.phoneNumber }}</p>
       <p class="card-text">{{ event.address }}</p>
            <p><strong>URL:</strong> {% if event.url %}<a href="{{ event.url }}" target="_blank">{{ event.url }}</a>{% else %}N/A{% endif %}</p>

         <p class="card-text">{{ event.type }}</p>
     <a class="btn btn-secondary" href="{{ path('app_event_index') }}">back to list</a>

    <a   class="btn btn-warning" href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>

    {{ include('event/_delete_form.html.twig') }}
  </div>
</div>
   
   

    </div>
{% endblock %}
